<!DOCTYPE html>
<html lang="org" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <script>

        function updateUsersTable() {
            const usersTable = document.getElementById('usersTable');
            usersTable.innerHTML = ''

            const userDataContainer = document.getElementById('userDataContainer');
            fetch('api/user')
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        throw new Error("Code: " + response.status + " , Text: " + response.statusText);
                    }
                })
                .then(users => {
                    printUpdateError()
                    users.forEach(user => {
                        const tr = document.createElement('tr');
                        const id = document.createElement('td');
                        const name = document.createElement('td');
                        const login = document.createElement('td');
                        const password = document.createElement('td');
                        id.textContent = user.id
                        name.textContent = user.name
                        login.textContent = user.login
                        password.textContent = user.password
                        tr.append(id, name, login, password)
                        usersTable.append(tr)
                    })
                })
                .catch(e => printUpdateError(e));
        }

        function removeUser(valueControlName){
            //const id = document.getElementById("removeUser").value;
            const valueControl = document.getElementById(valueControlName);
            fetch('api/user/'+ (valueControl? (encodeURIComponent(valueControl.value)) : ''),{
                method: 'DELETE'
            }).then(response=>{updateUsersTable()}
            )
        }

        function printUpdateError(text) {
            printBlockError(text, 'blockUpdateError')
        }

        function printBlockError(text, blockName) {
            const blockAddError = document.getElementById(blockName);
            if (text) {
                blockAddError.hidden = false
                blockAddError.textContent = text
            } else {
                blockAddError.hidden = true
                blockAddError.textContent = ""
            }
        }

    </script>
</head>
<body>
<a th:href="@{/add}" href="userAdd.html">Добавить пользователя</a>
<div hidden id="blockAddError"
     style="color: red;margin: 15px;border-style: groove;padding: 5px;border-color: red;"></div>
<pre id="userDataContainer"></pre>
<h4>Список пользователей</h4>
<button onclick="updateUsersTable()">Обновить</button>
<div hidden id="blockUpdateError"
     style="color: red;margin: 15px;border-style: groove;padding: 5px;border-color: red;"></div>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Пароль</td>
    </tr>
    </thead>
    <tbody id="usersTable">
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.name}">John Doe</td>
        <td th:text="${user.login}">login</td>
        <td th:text="${user.password}">pass</td>
    </tr>
    </tbody>
</table>



<h4>Удаление пользователя</h4>
<div class="controls-container">
    <input type="text" id = "userIdTextBox" placeholder="Введите id пользователя" >
    <button onclick="removeUser( 'userIdTextBox')">Удалить</button>
</div>


<!--<h4>Удаление пользователя</h4>
<table width="400px">
    <tbody>
    <tr>
        <td>Идентификатор пользователя</td>
        <td><input id="removeUser" width="50px" placeholder="Id Пользователя" type="number" min="0" step="1" /></td>
    </tr>
    </tbody>
</table>
<button onclick="removeUser()">Удалить</button>-->
</body>
</html>
